{% extends "anime/_base.html" %}

{% block content %}

<div class="ms-3">

    <h2 class="mt-2">{{ anime.title.romaji }}</h2>
    <p>{{ anime.type }}</p>
    <img src="{{ anime.coverImage.large }}" width=150>
    <p class="mt-2">Episode count: {{ anime.episodes }}</p>
    <p>Airing Status: {{ anime.status }}</p>

    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
                {% if list_entry %}
                    Update Status
                {% else %}
                    Add to List
                {% endif %}
            </button>

    <p>{{ anime.description|safe }}</p>
    <a href="https://anilist.co/anime/{{ anime.id }}" target="_blank" rel="noopener noreferrer">Anilist Page</a>

    <div class="modal fade" id="modal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>{{ anime.title.romaji }}</h3>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'add_to_list' anime_id=anime.id %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">
                            {{ form.status.label }}:
                            </label>
                            {{ form.status }}
                        </div>

                        <div class="mb-3 d-flex align-items-center gap-2">
                            <label class="form-label">
                            {{ form.progress.label }}:
                            </label>
                            {{ form.progress }}
                        </div>

                        <div class="mb-3 d-flex align-items-center gap-2">
                            <label class="form-label">
                            {{ form.score.label }}:
                            </label>
                            {{ form.score }}
                        </div>
                    </form>
                    <div class="d-flex align-items-center gap-2 modal-footer">
                        <button class="btn btn-primary btn-sm mt-1" type="submit">
                                {% if list_entry %}
                                    Update Status
                                {% else %}
                                    Add to List
                                {% endif %}
                        </button>
                        <button class="btn btn-danger btn-sm mt-1" id="exit"data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    {% comment %} const clickable = document.querySelector('#clickable');
	const modal = document.querySelector('#modal');
	clickable.addEventListener('click', () => modal.showModal()); {% endcomment %}
    //modal.addEventListener('click', () => modal.close());
</script>

{% endblock %}
